*.zip
*.txt
*.json
*.jsonl
/old_stuff
*.xlsx
*.tsv
*.npz
*.npy
*.pkl
/auxiliary/generate_latex.py
*.bak
/html
!output_data/predictions/
!output_data/predictions/**/*.npy
.idea/
*__pycache__
.git/
/data/bio/*.py
!data/bio/train_set_indices.txt
!data/bio/test_set_indices.txt
!data/bio/val_set_indices.txt
!requirements.txt
